<!DOCTYPE html>
<html>
<head>
<title>SCNU.智慧实验室</title>
<!--css-->
<link href="__PUBLIC__/manage/css/bootstrap.css" rel="stylesheet">
<link href="__PUBLIC__/manage/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--/css-->
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Mechanical Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->		
<!-- js -->
<script src="__PUBLIC__/manage/js/jquery.min.js"> </script>
<script src="__PUBLIC__/manage/js/bootstrap.js"></script>
<script type="text/javascript" src="__PUBLIC__/manage/js/move-top.js"></script>
<script type="text/javascript" src="__PUBLIC__/manage/js/easing.js"></script>
<!-- /js -->
<!--fonts--
<link href='http://fonts.useso.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>
--/fonts-->
<!--script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<!--/script-->
</head>
<body>
<!--header-->
<div class="header">
	<div class="header-nav">
		<div class="container">
			<div class="logo">
				<a href="index.html"><h1>SCNU.智慧实验室</h1></a>
			</div>
			<div class="navigation">
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"> </span>
							<span class="icon-bar"> </span>
							<span class="icon-bar"> </span>
						  </button>
					</div>
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav">
						<li><a href="<{:U('index')}>">首页</a></li>
						<li class="active"><a href="<{:U('equipDisplay')}>">设备管理 <span class="sr-only">(current)</span></a></li>
						<li><a href="<{:U('photoDisplay')}>">监控图像</a></li>
						<li><a href="<{:U('userDisplay')}>">成员管理</a></li>
					  </ul>
					<div class="clearfix"> </div>
					</div><!-- /.navbar-collapse -->
				</nav>
			</div>
		</div>
	</div>
</div>
			  <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(".top-nav ul").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->
<div class="banner-bottom-strip">
	<div class="container">
		<p>基于微信平台的无人实验管理系统.</p>
	</div>
</div>	
<div class="pandect">
	<div class="container">
		<div class="equipment">
			<div class="equipment_til">
				<h3>环境与仪器</h3>
			</div>
				<hr/>
				<div class="equipment_container">
					<table width = "100%" border="0" cellspacing="2" cellpadding="2">
						<caption><h4>环境参数</h4></caption>
							<tr>
								<th>温度：</th>
								<td><{$tempture}></td>
								<td></td>
								<th>湿度：</th>
								<td><{$humidity}></td>
							</tr>
					</table>
						<hr/>
						<table class="bordered">
							<caption><h4> 仪器状况</h4></caption>
							<thead>
								<tr>
									<th>设备序号</th><th>Mac标签</th><th>设备状态</th>
								</tr>
							</thead>
							<volist name="equipList" id="data">
								<tr>
									<td><{$data.id}></td>
									<td><{$data.blemac}></td>
									<td><{$data.state}></td>
								</tr>
							</volist>
							
							<!--<div id="txtEquipment"><{$equipHTML}></div>	-->
						</table>
				</div>
		</div>
	</div>
</div>
 
 <div class="footer">
			 <div class="container">				 	
				 <div class="col-md-3 ftr_navi ftr">
					 <h3>Navigation</h3>
					 <ul>
						 <li><a href="<{:U('index')}>">首页</a></li>
						<li><a href="<{:U('equipDisplay')}>">设备管理</a></li>
						<li><a href="<{:U('photoDisplay')}>">监控图像</a></li>
						<li><a href="<{:U('userDisplay')}>">成员管理</a></li>
					 </ul>
				 </div>

				 <div class="col-md-3 ftr-logo">
					 <a href="index.html"><h3>SCNU.智慧实验室</h3></a>
					 <p>开发者——华南师范大学物理与电信工程学院 深蓝色工程师团队 </p>
				 </div>
				<div class="clearfix"> </div>
			 </div>
		  </div>
		 <!---End-container---->
		 <!---->
<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!----> 
</body>
</html>