<include file='Public:head' />

    <body id="login-page">
        <div id="main-content">

            <!-- 主体 -->
            <div class="login-body">
                <div class="login-main pr">
                    <form action="<{:U('index')}>" method="post" class="login-form">
                        <h3 class="welcome"><i class="login-logo"></i>Gokit管理后台</h3>
                        <div id="itemBox" class="item-box">
                            <div class="item">
                                <i class="icon-login-user"></i>
                                <input type="text" name="username" placeholder="请输入用户名" autocomplete="off" />
                            </div>
                          
                            <div class="item b0">
                                <i class="icon-login-pwd"></i>
                                <input type="password" name="password" placeholder="请输入密码" autocomplete="off" />
                            </div>
                       
                            <div class="item verifycode showcode"  style="display:none">
                                <i class="icon-login-verifycode"></i>
                                <input type="text" name="code" placeholder="请填写验证码" autocomplete="off">
                                <a class="reloadverify" title="换一张" href="javascript:void(0)">换一张？</a>
                            </div>
                         
                            <div class="showcode">
                                <img class="verifyimg reloadverify" alt="点击切换" src="<{:U('verify',array('fontSize'=>25))}>" >
                            </div>
                        </div>
                        <div class="login_btn_panel">
                            <button class="login-btn" type="submit">
                                <span class="in"><i class="icon-loading"></i>登 录 中 ...</span>
                                <span class="on">登　　录</span>
                            </button>
                            <div class="check-tips"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    <script type="text/javascript">
    var ajaxShowCodeUrl = "<{:U('ajax_show_code')}>"";
    </script>
    <script type="text/javascript" src='__PUBLIC__/js/mod.login.js'></script>
    <style> 
    .showcode{
        display: none;
        }
     </style>
</body>
</html>